@import '~antd/dist/antd.css';

.main-header {
    display: flex;
    width: 100%;
}
.logo {
    margin-right: 50px;
}
.button-search{
    margin-top: 15px;
   right: 15%;
}

.main-content{
 margin-top: 60px;
}
